/* Created by Artisteer v4.1.0.59861 */

.art-header, #art-header-bg, .art-layout-cell, .art-layout-wrapper, .art-footer, .art-nav, #art-hmenu-bg, .art-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.art-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.art-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#art-header-bg 
{
   display: none;
}

.art-hmenu>li, .art-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.art-hmenu, ul.art-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#art-hmenu-bg 
{
   display: none;
}

ul.art-hmenu>li:first-child {
   padding-right:2px;
}

ul.art-hmenu ul{
   background-color: rgba(95, 112, 129, 0.8) !important;
}

.art-content-layout, .art-content-layout-row, .art-layout-cell 
{
   display: block;
   zoom: 1;
}
.art-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.art-vmenu, ul.art-vmenu ul, ul.art-vmenu li{
   zoom: 1;
}

ul.art-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.art-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.art-search div>input[type="text"]
{
   width: 100%;
}

* html form.art-search>input[type="text"] 
{
   margin :0;
}

.art-postheadericons span{
   zoom: 1;
}
.art-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.art-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='art-sidebar1-bg' + (className.indexOf('art-sidebar1-fix') == -1 ? '' : ' art-sidebar1-bg-fix' ));
}

.art-sidebar1-bg 
{
   border-right:1px dotted #A3B4C8;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
}

.art-content 
{
   width: auto;
   float:none;
}




/* mon css */

/*table*/



.fixed_header{
	    width: 60%;
	    table-layout: fixed;
	    border-collapse: collapse;  	    
	    float:left;  
	}
	
.formul{
	width: 30%;
	float:left;
}

	
.fixed_header tbody{
	  display:block;
	  width: 100%;
	  overflow: auto;
	  height: 400px;
	  border: 1px solid #f1dc4f;
	}
	
.fixed_header thead tr {
	   display: block;
	}
	

	
.fixed_header th{
  font-size:12px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
   background: #303F50;
   background: linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
  color: while;
  border-color: #f1dc4f;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  width:210px;
	}
	
.fixed_header tbody tr:hover { 
	 background: #303F50;
   background: linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(63, 83, 105, 0.8) 0, rgba(33, 43, 54, 0.8) 100%) no-repeat;
} 

.fixed_header tbody tr { 
	 font-size:11px;
}
	
.fixed_header td {
	
  border: 1px solid #ddd;
  padding: 8px;
  width:200px;
  height:10px;
  
	}
